*{
margin: 0;
padding: 0;
}


.cabeçalho{background-color: #191828;
color: white;
display: flex;
justify-content: space-around;

}


.cabeçalho-img{
width: 8%;

}

.titulo{ 
    display:inline-block;
    font-size: 40%;
    margin: 30px;
    

}